<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        .card {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
            border: 1px solid #000000;
            height: 300px;
            width: 200px;
            margin: 5px;
        }

        a {
            display: inline-block;
            margin: 10px 0;
            color: #007BFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .product-card {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
            width: 300px;

        }

        .product-card ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: row;

        }

        .product-card li {
            margin-right: 20px;
        }

        .product-card h2 {
            margin: 0 0 10px 0;

        }

        .product-card button {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 15px;
            margin-right: 10px;
            cursor: pointer;
            border-radius: 5px;
        }

        .product-card button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <h1>Admin Dashboard</h1>
    <p>Welcome to the admin dashboard!</p>
    <a href="/add-product">Add Product</a>
    <div class="product-list">
        <h2>Product List</h2>
        <ul>
            {{#each products}}
            <div class="product-card">
                <li>
                    <h3>{{this.productName}}</h3>
                    <p>{{this.productDescription}}</p>
                    <p>Price: ₹ {{this.price}}</p>
                    
                    <form method="POST" action="/delete-product/{{this._id}}">
                        <button type="submit">Delete</button>
                    </form>
                    <a href="/edit-product/{{this._id}}">Edit</a>
                </li>
            </div>
            {{/each}}
        </ul>
    </div>

    <div class="orderlist">
        <h2>Order List</h2>
        <ul>
            {{#each orders}}
            <div class="product-card">
                <li>
                    <h3>Order ID: {{this._id}}</h3>
                    <p>Customer Name: {{this.customerName}}</p>
                    <p>Product Name: {{this.productName}}</p>
                    <p>Quantity: {{this.quantity}}</p>
                    <p>Total Price: ₹ {{this.totalPrice}}</p>
                </li>
            </div>
            {{/each}}
        </ul>
    </div>

</body>

</html>