<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Cart</title>
    <style>

    </style>

    <link rel="stylesheet" href="/css/cart.css">

</head>

<body>
    <header>
        <div class="nav">
            <nav>
                <h1>Your Cart</h1>
                <ul>
                    <li><a href="/customer-dashboard">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
        <section>
            <div class="placeorder">
                <h3>Total Price: ₹ {{totalPrice}}</h3>
                <form action="/place-order-from-cart/{{user_id}}" method="GET">
                    <input type="hidden" name="totalPrice" value="{{totalPrice}}">
                    <button type="submit">Place Order</button>
                </form>
            </div>
        </section>


        <section>
            <div class="product-card">
                <ul>
                    {{#if products.length}}
                    {{#each products}}
                    <div class="cart-items">

                        <div class="item-info">
                            <h3>{{product.productName}}</h3>
                            <p>{{product.productDescription}}</p>
                            <p>Price: ₹{{product.price}}</p>
                        </div>
                        <div class="item-actions">
                            <form action="/remove-from-cart/{{this._id}}" method="POST">
                                <input type="hidden" name="price" value="{{this.price}}">
                                <button type="submit">Remove from Cart</button>
                            </form>


                            <form action="/buy-now/{{product._id}}" method="GET">
                                <input type="hidden" name="price" value="{{this.price}}">
                                <button type="submit">Buy Now</button>
                            </form>

                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <p>Your cart is currently empty.</p>
                    {{/if}}
                </ul>
                <h3>Total Price: ₹ {{totalPrice}}</h3>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Your E-commerce Site. All rights reserved.</p>
    </footer>
</body>

</html>