<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
    <style>

    </style>
    <link rel="stylesheet" href="/css/customer_dashboard.css">
</head>

<body>
    <header>
        <div class="navbar">
            <h2 id="customer">Welcome {{name}}</h2>
            <nav>
                <ul>
                    <li><a href="/customer-dashboard">Home</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/orders">Orders</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="search-box">
            <div class="searchProduct">
                <form action="/customer-dashboard" method="GET">
                    <input type="text" name="query" placeholder="Search for products..." required>
                    <button type="submit">Search</button>
                </form>
            </div>
        </section>

        <section class="dashboard">
            <div class="product-card">
                <ul>
                    {{#each products}}
                    <div class="card">
                        <li>
                            <div class="image-box">
                                <a href="/product-details/{{this._id}}">
                                    <img src="{{this.image}}" alt="product">
                                </a>
                            </div>
                            <div class="image-desc">
                                <h2>{{this.productName}}</h2>
                                <p>{{this.productDescription}}</p>
                                <p>Price: ₹{{this.price}}</p>
                            </div>
                            <div class="addCart-buynow">
                                <form action="/add-to-cart/{{this._id}}" method="POST">
                                    <input type="hidden" name="price" value="{{this.price}}">
                                    <button type="submit">Add to Cart</button>
                                </form>
                                <form action="/buy-now/{{this._id}}" method="GET">
                                    <input type="hidden" name="price" value="{{this.price}}">
                                    <button type="submit">Buy Now</button>
                                </form>
                            </div>
                        </li>
                    </div>
                    {{/each}}
                </ul>
            </div>

        </section>
    </main>

    <footer>
        <p>&copy; 2024 E-Commerce Platform. All rights reserved.</p>
    </footer>
</body>

</html>