{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        .card {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
            border: 1px solid #000000;
            height: 300px;
            width: 200px;
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        a {
            display: inline-block;
            margin: 10px 0;
            color: #007BFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .product-card {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;

        }

        .product-card ul {
            list-style-type: none;
            padding: 10px;
            display: flex;
            flex-direction: row;
        }

        .product-card li {
            margin-bottom: 15px;
            border: 2px solid #000000;
        }

        .product-card h2 {
            margin: 10px;
        }

        .product-card p {
            margin: 10px;
            justify-self: flex-start;
        }

        .product-card button {
            padding: 10px 15px;
            background-color: #ff751f;
            color: white;
            border: none;
            cursor: pointer;
            display: block;
            align-self: flex-end;
            margin: auto;
            border-radius: 7px;


        }

        .product-card button:hover {
            background-color: #ff8e0d;
        }

        .searchProduct {
            margin-top: 20px;
        }

        .searchProduct input[type="text"] {
            padding: 10px;
            width: 200px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .searchProduct button {
            padding: 10px 15px;
            background-color: #007BFF;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .searchProduct button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <h1>Home Page</h1>
    <h1>Hello {{name}}!</h1>

    <div class="login">
        <a href="/login">Login</a>
    </div>
    <div class="login">
        <a href="/signup">Sign Up</a>
    </div>

    <div class="searchProduct">
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search for products..." required>
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="product-card">

        <h2>Products</h2>
        <ul>

            {{#each products}}
            <div class="card">
                <h1>{{this.productName}}</h1>
                <p>{{this.productDescription}}</p>
                <p>Price: ₹{{this.price}}</p>
                <form action="/add-to-cart/{{this._id}}" method="POST">
                    <input type="hidden" name="price" value="{{this.price}}">
                    <a href="/buy-now/{{this._id}}" type="button">Buy Now</a>
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
            {{/each}}
        </ul>

    </div>

</html> --}}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopify-The best shoping website</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/popupbar.css">
    <link rel="stylesheet" href="/css/maincontent.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Share+Tech&display=swap"
        rel="stylesheet">
</head>

<body>

    <header>
        <div class="container">
            <nav class="navbar">
                <div class="sec1nav">
                    <img src="/images/shop.svg" alt="shop">
                    <h2>SHOPIFY</h2>
                </div>
                <!-- <img src="shop.svg" alt="shop"> -->
                <div class="navmiddle">

                    <P></P>
                </div>
                <div class="sec2nav">
                    <!-- <img id = "a01" src="/images/opencart.svg" alt=""> -->
                    <h3 id="a11"><a href="/signup">Sign up</a></h3>
                    <h3 id="a12"><a href="/login">🔑 Login</a></h3>
                    {{!-- <a href="/templets/Viewcart.html"><img id="a01" src="/images/opencart.svg" alt=""></a>
                    <img id="a02" src="/images/dots.svg" alt="shop"> --}}

                </div>
            </nav>
        </div>
    </header>


    <main class="main-content">
        <section>
            <div class="Bigcontent">
                {{#each products}}
                    <div class="card">
                        <div class="image-box">
                            <img src="/images/MensStyleLooks.jpeg" alt="product">
                        </div>

                        <div class="content">
                            <h3>{{this.productName}}</h3>
                            <p class="desc">{{this.productDescription}}</p>

                            <div class="price">
                                <span class="new">₹{{this.price}}</span>
                            </div>

                        </div>
                        <div class="cart">
                            <form action="/add-to-cart/{{this._id}}" method="POST">
                                <input type="hidden" name="price" value="{{this.price}}">
                                <button type="submit">Add to Cart</button>
                            </form>
                            <form action="/buy-now/{{this._id}}" method="POST">
                                <input type="hidden" name="price" value="{{this.price}}">
                                <button type="submit">Buy Now</button>
                            </form>
                        </div>
                    </div>

                {{/each}}
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Shopify. All rights reserved.</p>
        </div>
    </footer>
    <script src="/function/script.js"></script>
</body>

</html>